/* 
  TABLE OF CONTENT:
  1.GLOBAL STYLE
  2. TYPE


*/




/* ===================
      GLOBAL STYLES
======================= */
:root {
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --spacing-base: 16px;

  --font-size-h1: calc(var(--font-size-base) * 2);
  --font-size-h2: calc(var(--font-size-base) * 1.5);
  --font-size-h3: var(--font-size-base);

  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;

  --border-radius: 4px;

  /* Global Colors  */
  --clr-error: 	#FEDDDC;
  --clr-success: 	#DCFEDD;
  --clr-warning: #FEFECC;
  --clr-info: #DCFFFE;

  /* Theme colors */
  --clr-primary: #FFCB2D; /* 30% */
  --clr-secondary: #FFF8EA; /* 60% */
  --clr-accent: #0d0d0d; /* 10% */
  --clr-white: white;
  --clr-black: ;
  --clr-text: #0d0d0d;
  --clr-btn: #1A72E9;
  --clr-background: ;

  --shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
  Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
  Segoe UI Symbol;
}

.App {
  text-align: center;
}

/* ===================
      TYPOGRAPHY
======================= */

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3)
}

/* =================
      LAYOUTS
==================== */




.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  padding: 6px 12px;
}

.message-box {
  /* height: ; */
}


/* modal styling */

.modal-overlay {
  background-color: rgba(36, 36, 36, 0.3);
  position: absolute;
  height: 100vh;
  width: 100%;
}

.modal {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: min(300px, 70%);
  padding: var(--spacing-large);
  border-radius: 4px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.user-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
}

.user-box {
  /* background-color: var(--clr-btn); */
  cursor: pointer;
}

.modal-link {
  /* color: #0000EE; */
  color: #551A8B; 
  cursor: pointer;
  text-decoration: underline;
}

