
.main-content-container {
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
}

.tab {
    background-color: salmon;
    height: 97%;
    margin: 20px 0px 0px 20px;
}